<!DOCTYPE html>

<html>

<head>
  <script src="https://threejs.org/build/three.js"></script>

</head>

<body>

  <h1>Hello world</h1>
  <canvas id="cube_canvas"></canvas>
</body>
<%= javascript_pack_tag 'terrain' %>
</html>